*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: medium;
  font-size: 24px;
}


h2 {
  font-size: 64px;
  line-height: 84px;
  font-weight: 500;
}

h3 {
  line-height: 42px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

a {
  color:inherit;
  text-decoration: none;
  &hover {
    text-decoration: underline;
  }
  &active {
    text-decoration: none;
  }
}
