.banner {
  background: fixed url(https://hexschool.github.io/webLayoutTraining1st/week2/banner.png) center center / cover no-repeat; 
  height: 958px; 
  &__title {
    font-size: 80px;
    line-height: 106px;
    font-weight: 900;
    &-span {
      display: block;
      font-size: 24px;
      line-height: 42px;
    }
  }
}


.brand-img {
  margin-bottom: -40px;
  &-item {
    margin-bottom: 40px;
    &-1 {
      width:100%;
    }
    &-2 {
      margin-right: 24px;
    }
  }
}




.line {
  max-width: 384px;
  margin: 24px auto 24px auto;
}

